@charset "UTF-8";
body {
  background: #f5f9fe;
  padding-top: 80px;
}

.container {
  width: 90%;
  min-width: 1200px;
  margin: 0 auto;
}

header .container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

header .container .logo {
  color: #2a73dd;
}

header .container .navs a {
  color: #1d365e;
  transition: 0.3s;
  position: relative;
}

header .container .navs a:hover,
header .container .navs a.active {
  color: #2a73dd;
}

.banner .shop,
.banner .info {
  border-radius: 8px;
  padding: 10px 20px;
  border: 2px solid #2a73dd;
  color: #2a73dd;
}

.products .list .item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  padding: 40px;
}

.products .list .item .image {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  vertical-align: middle;
}

.products .list .item .desc {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.products .list .item .desc .price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.products .list .item .desc .price button {
  padding: 10px 22px;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  color: #2a73dd;
}

/* CSS for the shopping cart */
#cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  max-width: 300px;
  overflow-y: auto;
  text-align: center;
}

#cart .hidden {
  display: none;
}

/* CSS for the spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

/* Add your form control styles here */
.form-control {
  width: 32%;
}

/* Header styles */
header .container {
  height: 80px;
  justify-content: space-between;
}

header .container a {
  color: #1d365e;
  transition: 0.3s;
  position: relative;
}

header .container a:hover,
header .container a.active {
  color: #2a73dd;
}

header .container a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: #2a73dd;
  transition: 0.3s;
}

header a:hover {
  text-decoration: none;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
